
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom, #e2f60f, #d1e229, #bfce36, #afba3f, #9ea745, #929a47, #878e48, #7c8149, #737749, #6a6d48, #626447, #595a46);}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 3px solid rgb(8, 8, 8);
}

section{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }



section h1{
    font-size: 70px;
    color: rgb(15, 15, 15)
}


section:nth-of-type(1){
}
section:nth-of-type(2){
}
section:nth-of-type(3){
}
section:nth-of-type(4){
}
section:nth-of-type(5){
}




/*formulario de cadasttro */
.cadastro{
    width: 30vw;
    font-size: 15px;
}
.cadastro input {
    border-radius: 5px;
    background-color: whitesmoke;
    width: 400px;
    height: 20px;
    padding: 6px;
}
#inputCEP{
    width: 120px;
}
#inputNum{
    width: 120px;
}
.cadastro label{
    font-weight: bold;
    color: wheat;
}
